@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 100, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.title-container {
  position: relative;
  display: inline-block;
  background-color: rgb(200, 200, 200);
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
}

.subtitle {
  position: absolute;
  bottom: -40px; /* タイトルの下に配置 */
  right: 0;
  font-size: 1.5rem;
  color: gray;
}

.space {
  margin-top: 3rem;
}

.othello-board {
  margin: 0 auto;
  aspect-ratio: 1 / 1;
  width: 400px;
  height: 400px;
}
.othello-board td {
  width: 50px;
  height: 50px;
  border: 3px solid black;
  padding: 0;
  margin: 0 auto;
}
.black-stone {
  width: 70%;
  height: 70%;
  background-color: black;
  border-radius: 50%;
  margin: 0 auto;
}
.white-stone {
  width: 70%;
  height: 70%;
  background-color: white;
  border-radius: 50%;
  margin: 0 auto;
}
.empty-cell {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.can-cell {
  width: 40%;
  height: 40%;
  background-color: lightgreen;
  border-radius: 50%;
  margin: 0 auto;
}

.othello-cell {
  text-align: center;
  vertical-align: middle;
  margin : 0;
  padding : 0;
  aspect-ratio: 1 / 1;
  width : 50px;
  height : 50px;
  border-collapse: collapse;
  background-color: green;
  border: 3px solid black;
}